<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="form" (ngSubmit)="onSubmit(form.getRawValue())" novalidate>
                                    <h1 class="text-center">Nueva contraseña</h1>
                                    <p class="text-center">
                                        Debe cambiar su contraseña para continuar.</p>
                                    <p class="text-center text-info">
                                        Recuerda que la contraseña debe ser mínimo de 8 caracteres, tener por lo mínimo
                                        un número, una letra mayúscula y una minúscula.</p>

                                    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show"
                                        role="alert">
                                        <strong>Error!</strong> {{error}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                            (click)=" error = ''">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Email" autocomplete="off"
                                            formControlName="Email">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Contraseña"
                                            autocomplete="off" formControlName="NewPassword">
                                        <span class="error"
                                            *ngIf="form.get('NewPassword').hasError('required') && (form.submitted || form.get('NewPassword').dirty)">Ingrese
                                            la contraseña</span>
                                        <span class="error"
                                            *ngIf="form.get('NewPassword').hasError('pattern') && (form.submitted || form.get('NewPassword').dirty)">Contraseña
                                            no es valida.</span>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control"
                                            placeholder="Confirmación Contraseña" autocomplete="off"
                                            formControlName="ConfPassword">
                                        <span class="error"
                                            *ngIf="form.get('ConfPassword').hasError('required') && (form.submitted || form.get('ConfPassword').dirty)">Ingrese
                                            la contraseña</span>
                                        <span class="error"
                                            *ngIf="form.get('ConfPassword').hasError('matchpassword') && (form.submitted || form.get('ConfPassword').dirty)">Las
                                            contraseñas no coinciden</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button type="submit" [disabled]="!form.valid"
                                                class="btn btn-primary px-4">Cambiar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>